<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracify Form</title>
</head>
<body>
    <center>
        <h3><%= title %></h3>
        <p>Add New User</p>
        <a href="/register">Click Here To Register User</a>
        <p> <b>Registered Users</b> </p>
        <a href="/users">Click Here View All Registered User</a>
        <hr>
            <%= signature %>
        </div>
    </center>

</body>
</html>